 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .App {
    text-align: center;
    height: 150vh;
    background-image: linear-gradient(#ffd89b, #19547b);
  }
  
  .App-logo {
    height: 50vmin;
    pointer-events: none;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  h5{
    padding-top: 1rem;
    font-size: 20px;
  }
  h2{
    position: relative;
    text-align: center;
    color: rgb(58, 14, 14);
    font-size: 50px;
    padding-top: 1rem;
  }
  
  input[type="number"] {
    margin-top: 2rem;
    border: none;
    background: rgb(177, 135, 135);
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1.5px solid #0a0a23;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgb(70, 70, 69);
    
  }
  
  input[type="number"]::placeholder {
    color: rgb(78, 81, 83);;
  }
  
  input[type="number"]:focus {
    box-shadow: 0 0 1rem 0 rgb(70, 70, 69);
    border-color: rgb(31, 119, 31);
    outline: none;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  
  .mainHeading {
    color: #000230;
    font-size: 38px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  } 